absl-py==2.1.0
asgiref==3.7.2
astunparse==1.6.3
beautifulsoup4==4.12.3
cachetools==5.4.0
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
charset-normalizer==3.3.2
colorama==0.4.6
config==0.5.1
cycler==0.11.0
Django==3.2.25
et-xmlfile==1.1.0
ExifRead==3.0.0
filelock==3.12.2
flatbuffers==24.3.25
fonttools==4.38.0
fsspec==2023.1.0
gast==0.4.0
gdown==4.7.3
google-auth==2.32.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.62.2
gunicorn==22.0.0
h5py==3.8.0
huggingface-hub==0.16.4
idna==3.7
imageio==2.31.2
importlib-metadata==6.7.0
keras==2.11.0
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.4.4
MarkupSafe==2.1.5
matplotlib==3.5.3
networkx==2.6.3
numpy==1.21.6
oauthlib==3.2.2
opencv-python==4.5.5.62
openpyxl==3.1.3
opt-einsum==3.3.0
packaging==24.0
pandas==1.3.5
Pillow==9.5.0
protobuf==3.20.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytorch-msssim==1.0.0
pytz==2024.1
PyWavelets==1.3.0
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
safetensors==0.4.3
scikit-image==0.19.3
scipy==1.7.3
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
tifffile==2021.11.2
timm==0.9.12
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
tqdm==4.66.4
typing_extensions==4.7.1
urllib3==2.0.7
utils==1.0.2
Werkzeug==2.2.3
wincertstore==0.2
wrapt==1.16.0
zipp==3.15.0
